@page "/profile"
@using codebuffalo.Data;
@using codebuffalo.Helpers;
@inject DatabaseHelper Database

<h1>User Profile</h1>

<p>@firstname  @lastname</p>
<p>@email</p>
<p>@city , @state , @country</p>
<p>@radius</p>
<p>@phonenumber</p>
<p>@dob</p>


@code {

    String firstname = "";
    String lastname = "";
    String email = "";
    String city = "";
    String state = "";
    String country = "";
    String radius = "";
    String phonenumber = "";
    String dob = "";

    Account test;

    protected override async Task OnInitializedAsync()
    {
        test = await Database.GetAccount();

        firstname = test.FirstName;
        lastname = test.LastName;
        email = test.Email;
        city = test.City;
        state = test.State;
        country = test.Country;
        radius = test.Radius;
        phonenumber = test.PhoneNumber;
        dob = test.DOB;
    }
}
